.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-gap: 30px;
  grid-template-columns: 50% 2fr 2fr; }

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: #fff; }
  .item--1 {
    background-color: orangered; }
  .item--2 {
    background-color: yellowgreen; }
  .item--3 {
    background-color: blueviolet; }
  .item--4 {
    background-color: palevioletred; }
  .item--5 {
    background-color: royalblue; }
  .item--6 {
    background-color: goldenrod; }
