.container {
  width: 1000px;
  margin: 30px auto;
  background-color: #ddd;
  display: grid;
  grid-gap: 30px;
  grid-auto-rows: 80px;
  grid-auto-flow: row dense;
  grid-auto-columns: dense;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 200px);
  height: 1000px;
  justify-content: center;
  align-content: center; }
  .container .item {
    padding: 20px;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    background-color: orangered; }
    .container .item--4 {
      background-color: crimson;
      grid-row: 2 / span 3; }
    .container .item--6 {
      background-color: lightcoral;
      grid-row: 2 / span 2; }
    .container .item--7 {
      background-color: palevioletred;
      grid-column: 1/-1; }
