.challenge {
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  grid-gap: 30px;
  grid-template-areas: ". head head ." "box-1 box-2 box-3 side" "main main main side" "foot foot foot foot"; }
  .challenge > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif; }
  .challenge .header {
    grid-area: head; }
  .challenge .small-box-1 {
    grid-area: box-1; }
  .challenge .small-box-2 {
    grid-area: box-2; }
  .challenge .small-box-3 {
    grid-area: box-3; }
  .challenge .sidebar {
    grid-area: side; }
  .challenge .main-content {
    grid-area: main; }
  .challenge .footer {
    grid-area: foot; }
