.challenge {
  width: 1000px;
  margin: 30px auto;

  display: grid;

  //METHOD 2 : NAMING GRID AREAS

  grid-template-rows: 100px 200px 400px 100px; //width of each row
  grid-template-columns: repeat(3, 1fr) 200px; //width of each column
  grid-gap: 30px;

  // grid-template-areas: //name each 16 cell otherwise it will not work , bt it's a super easy method

  //   'head head head head'
  //   'box box box side'
  //   'main main main side'
  //   'foot foot foot foot';

  grid-template-areas: //name each 16 cell otherwise it will not work , bt it's a super easy method

    '. head head .' // dot leaves empty space
    'box-1 box-2 box-3 side'
    'main main main side'
    'foot foot foot foot';

  & > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }

  .header {
    grid-area: head;
  }

  .small-box-1 {
    grid-area: box-1;
  }
  .small-box-2 {
    grid-area: box-2;
  }
  .small-box-3 {
    grid-area: box-3;
  }

  .sidebar {
    grid-area: side;
  }

  .main-content {
    grid-area: main;
  }

  .footer {
    grid-area: foot;
  }
}
